* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 275px 1fr 350px;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

.leftsideBar{
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}