:root{
    --text-color: 1a1c20;
    --link-color:#4a76ee;
    --backround-color: #f6f7f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    background-color:#f6f7f8;
    font-family: 'Poppins', sans-serif;
    background-color: var(--backround-color);

}
a{
    color: var(--link-color);
    text-decoration: none;
}

header .headnav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

header nav {
    padding-top: 10px;
}

header nav a{
    padding-left: 30px;
    color: black;
}

img{
    display: flex;
    margin: auto;
    height: 300px;
    width: 250px;
    border-radius: 60%;
    margin: 30px auto
}