*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
    background-color: #a38a8b;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.display{


}