*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
    background-color: #a38a8b;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculator{
    width: 320px;
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 20px;
    box-sizing: 0, 10px, 50px,rgba(0,0,0, 0.3);
}

.display{
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 2.5rem;
    border-radius: 10px;
    text-align: right;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    min-height: 80px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}