* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #6b5391;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  width: 320px;
  background-color: #2d2d2d;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0, 10px, 50px, rgba(0, 0, 0, 0.3);
}

.display {
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 2.5rem;
  border-radius: 10px;
  text-align: right;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  min-height: 80px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #505050;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.btn.opp {
  background-color: #ff9503;
}
.btn.clear {
  background-color: #FF0000;
}
.btn.equals {
  background-color: #4bae51;
}
.btn.backspace{
    background-color: #f34236;
}
.btn:hover{
    transform: scale(1.05);
    background-color: #706f6f;
}
.btn.opp:hover{
    background-color: #bc7109;
}
.btn.clear:hover{
    background-color: #b00606;
}
.btn.backspace:hover{
     background-color:  #ab3535;
}
.btn.equals:hover{
    background-color:  #2d622f;
}

.btn.num:active{
    transform: scale(0.95);
}

.btn.decimal:active{
    transform: scale(0.95);
}
.btn.opp:active{
    transform: scale(0.95);
}
.btn.equals:active{
    transform: scale(0.95);
}
.btn.clear:active{
    transform: scale(0.95);
}
.btn.backspace:active{
    transform: scale(0.95);
}
.btn.sign-toggle:active{
  transform: scale(0.95);
}
.back {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #0f167a;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.back:hover{
  background-color: #232a90;
  transform: scale(1.05);
}
.back:active{
  transform: scale(0.95);
}